In [1]:
fname =  input('Isikan Nama Awal')
mname =  input('Isikan Nama Tengah')
Iname =  input('Isikan Nama Akhir')

print('Selamat Datang',fname,mname,Iname,"S.kom")

Isikan Nama Awaleggi
Isikan Nama Tengahmaulana
Isikan Nama Akhirrizki
Selamat Datang eggi maulana rizki S.kom

In [2]:
bil1 =  input('Isikan Nama Bilangan 1:')
bil2 =  input('Isikan Nama Bilangan 2:')
print(type(bil1))
hasil = int(bil1) + int(bil2)
print('Hasil Penjumlahan', hasil)

Isikan Nama Bilangan 1:10
Isikan Nama Bilangan 2:23
<class 'str'>
Hasil Penjumlahan 33

In [3]:
#luas =>  p * l
#keliling => 2 * (p+l)

p =  input('Isikan Panjang Persegi:')
l =  input('Isikan Lebar Persegi:')

luas = int(p) * int(l)
keliling = 2*(int(p)  + int(l))

print('Luas Persegi Panjang',luas)
print('keliling Persegi Panjang',keliling)

Isikan Panjang Persegi:2
Isikan Lebar Persegi:3
Luas Persegi Panjang 6
keliling Persegi Panjang 10

In [4]:
print("senin","selasa","rabu","kamis","jum'at","sabtu","minggu",sep="@",end="^_^")
print("one","two","three","four",sep="\n")

senin@selasa@rabu@kamis@jum'at@sabtu@minggu^_^one
two
three
four

In [5]:
number1 = 7
number2 = 10

# Hasil perkalian 7 dengan 10 adalah 70
print("Perkalian {} dengan {} adalah {}".format(number1,number2,number1 * number2))

Perkalian 7 dengan 10 adalah 70

In [6]:
first_letter = "A"
middle_letter = "B"
last_letter = "C"

print("Urutan Huruf {2}{1}{0}".format(first_letter,middle_letter,last_letter))

Urutan Huruf CBA

In [7]:
#Sekarang tunggal 20 Bulan Maret Tahan 2024

print("Sekarang tanggal {tanggal} Bulan {bulan} Tahun {tahun}". 
      format(tanggal=20, bulan="Maret", tahun=2024))

Sekarang tanggal 20 Bulan Maret Tahun 2024

In [8]:
kampus = "Universitas Nusa Putra"
print("Huruf pertama adalah:", kampus[0])
print("Hurus Terakhir adalah:", kampus [-1]) 
print("Huruf Range 0-10:", kampus [0:11])
print(kampus [-5:])
print(kampus [12:])
#Reverse String
print(kampus [::-1])

Huruf pertama adalah: U
Hurus Terakhir adalah: a
Huruf Range 0-10: Universitas
Putra
Nusa Putra
artuP asuN satisrevinU

In [9]:
#Split => String -> List
kota = "Jakarta Sukabumi Malang Bandung Surabaya"
list_kota = kota.split()
print(list_kota)
print(list_kota[0])
#Join => List -> String
join_kota = "@".join(list_kota)
print(join_kota)

['Jakarta', 'Sukabumi', 'Malang', 'Bandung', 'Surabaya']
Jakarta
Jakarta@Sukabumi@Malang@Bandung@Surabaya

In [1]:
nama =  input("Isikan Nama Anda:")
tgl =  input("Isikan Tanggal Lahir:")

list_nama = nama.split()
print("Nama Awal:", list_nama[0])
print("Nama Akhir:", list_nama [1]) 

list_tgl = tgl.split('/')
print("tanggal lahir:", list_tgl[0])
print("bulan lahir :", list_tgl [1]) 
print("tahun lahir :", list_tgl [2]) 

inisial = list_nama[0][0]+list_nama[1][0]
print("Nama inisial:", inisial)

Isikan Nama Anda:eggi maulana
Isikan Tanggal Lahir:10/febuari/2000
Nama Awal: eggi
Nama Akhir: maulana
tanggal lahir: 10
bulan lahir : febuari
tahun lahir : 2000
Nama inisial: em